html {
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.logo {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav {
  display: flex;
  float: right;
  align-items: center;
  height: 69px;
  margin-right: 20px;
}

a {
  color: inherit;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  position: relative;
  top: 70px;
  text-align: center;
  margin: auto;

}

.missiontext {
  background-color: black;
  position: absolute;
  top: 300px;
  width: 1200px;
}

#featured {
  position: relative;
  top: 150px;
  text-align: center;
  width: 1000px;
  margin: auto;
  display: block;
}


.teas {
  display: flex;
  position: relative;
  top: 150px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 1000px;
}

.teas img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
